.wrapper_movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.PaginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}