.original_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 40px;
}

.wrapper_one {
    display: flex;
}

.poster {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.poster img {
    width: 45%;
}

.infoBox {
    font-size: 25px;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 20px;
}

.overview {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 20px;
}

.overview div {
    width: 50%;
}

.Video {
    display: flex;
    justify-content: center;
}

.genres {
    display: flex;
}

@media (max-width: 1000px) {

    .original_title {
        font-size: 30px;
        margin: 15px;
    }

    .poster img {
        width: 60%;
    }

    .infoBox {
        font-size: 20px;
        padding: 18px;
    }

}

@media (max-width: 800px) {
    .infoBox {
        font-size: 16px;
        padding: 16px;
    }
    .overview {

        font-size: 20px;
        margin: 18px;
    }
}
    @media (max-width: 500px) {
        .infoBox {
            font-size: 12px;
            padding: 10px;
        }
        .overview {

            font-size: 14px;
            margin: 12px;
        }
        .poster img {
            width: 70%;
        }
}